<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="card">
                <div class="card-body">
                  <h4 class="card-title"> User Details</h4>
                  <p class="card-description">Registered User details
<!--                    Add class <code>.table-dark</code>-->
                  </p>
                  <div class="table-responsive pt-3">
                    <table class="table table-dark">
                      <thead>
                        <tr>
                          <th>
                            Sl no.
                          </th>
                          <th>
                            Full name
                          </th>
                          <th>
                            User Name
                          </th>
                          <th>
                            Email Address
                          </th>
                          <th>
                            Mobile Number
                          </th>
                            <th>
                            Joined Date
                          </th>
                            <th>
                            Active or not
                          </th>
                            <th>
                            View
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for d in data %}
                        <tr>
                          <td>
                            {{forloop.counter}}
                          </td>
                          <td>
                             {{d.full_name}}
                          </td>
                          <td>{{d.username}}
                          </td>
                          <td>{{d.email}}

                          </td>
                            <td>{{d.phone}}

                          </td>
                            <td>{{d.date_joined}}</td>
                            <td>{{d.is_active}}</td>
                          <td>
                            <a href="#"><button type="submit" class="btn btn-secondary">View Profile</button></a>
<!--                            <a href="#"><button type="submit" class="btn btn-danger">Delete</button></a>-->


                          </td>
                        </tr>
                      {% endfor %}

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

      {% if messages %}
          {% for i in messages %}
               {% if i.tags == 'success' %}
                   <script>
                       swal('{{i}}','','success');
                   </script>
               {% elif i.tags == 'error' %}
                   <script>
                       swal('{{i}}','','error');
                   </script>
               {% elif i.tags == 'warnings' %}
                   <script>
                       swal('{{i}}','','warnings');
                   </script>
               {% else %}
                   <script>
                       swal('{{i}}','','info');
                   </script>
               {% endif %}
          {% endfor %}
      {% endif %}

</body>
</html>
{% endblock %}